<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Submitted information</h1>
	<h3>Name: <%=name %></h3><hr />
	<h3>Location: <%=location %></h3><hr />
	<h3>Language: <%=language %></h3><hr />
	<h3>Comments: <%=comments %></h3>
	<a href="/">Back</a>
</body>
</html>



